randomGame.xcodeproj/project.xcworkspace/xcuserdata/nikolaykurchatov.xcuserdatad/UserInterfaceState.xcuserstate
randomGame.xcodeproj/project.xcworkspace/xcuserdata/nikolaykurchatov.xcuserdatad/UserInterfaceState.xcuserstate
